### Pyspark Dataframes - Filter Operations, PySpark SQL

3/18/2024

Answer the TODO items.
- Filter Operation
- &,|,==
- 
- ~

PySpark documentation:   
https://spark.apache.org/docs/latest/api/python/reference/index.html  

Answer the TODO items.

In [ ]:
# option 1

import os

JAVA_HOME = "/home/jay/anaconda3/envs/pyspark"
os.environ["JAVA_HOME"] = JAVA_HOME

# option 2

import sys
sys.path.append("/Users/jayurbain/opt/miniconda3/envs/pyspark")

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

PySpark SQL

PySpark SQL is one of the most used PySpark modules which is used for processing structured columnar data format. Once you have a DataFrame created, you can interact with the data by using SQL syntax.

In other words, Spark SQL brings native SQL queries on Spark meaning you can run traditional ANSI SQLâ€™s on Spark Dataframe, in the later section of this PySpark SQL tutorial, you will learn in detail using SQL select, where, group by, join, union e.t.c

In order to use SQL, first, create a temporary table on DataFrame using createOrReplaceTempView() function. Once created, this table can be accessed throughout the SparkSession using sql() and it will be dropped along with your SparkContext termination.

Use sql() method of the SparkSession object to run the query and this method returns a new DataFrame.

https://spark.apache.org/docs/3.1.2/api/python/reference/pyspark.sql.html

In [ ]:
df_pyspark.createOrReplaceTempView("PEOPLE")
df1=spark.sql("select Name, age, Experience, Salary as salary from PEOPLE")
df1.show()

### Filter Operations

In [ ]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

In [ ]:
#### TODO: Perform the equivalent operation using PySpark SQL

In [ ]:
df_pyspark.filter("Salary<20000").select(['Name','age']).show()

In [ ]:
#### TODO: Perform the equivalent operation (above) using PySpark SQL

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<20000).show()

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<20000) | 
                  (df_pyspark['Salary']>=15000)).show()

In [ ]:
#### TODO: Perform the same operation (above) except use logical AND using PySpark Dataframe

In [ ]:
#### TODO: Perform the same operation  (above) logical AND and select pnly the Name and Salary using PySpark SQL

In [ ]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

In [ ]:
#### TODO: Perform the same operation (above) using PySpark Dataframe