## Pyspark Dataframes

Jay Urbain, PhD   
3/15/2024

- PySpark Dataframe 
- Reading The Dataset
- Checking the Datatypes of the Column(Schema)
- Selecting Columns And Indexing
- Check Describe option similar to Pandas
- Adding Columns
- Dropping columns
- Renaming Columns

PySpark documentation:   
https://spark.apache.org/docs/latest/api/python/reference/index.html 

Answer the TODO items.

In [ ]:
# option 1

import os

JAVA_HOME = "/home/jay/anaconda3/envs/pyspark"
os.environ["JAVA_HOME"] = JAVA_HOME

# option 2

import sys
sys.path.append("/Users/jayurbain/opt/miniconda3/envs/pyspark")

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
# first read the dataset in using pandas as a baseline
import pandas https://spark.apache.org/docs/latest/api/python/reference/index.htmlas pd

df = pd.read_csv('test1.csv')
df

In [ ]:
# read the dataset, let spark infer the schema
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)

In [ ]:
# review the schema
df_pyspark.printSchema()

In [ ]:
df_pyspark.show()

In [ ]:
# different syntax

df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

In [ ]:
# check the schema
df_pyspark.printSchema()

In [ ]:
# check the type
type(df_pyspark)

In [ ]:
# like pandas head()

df_pyspark.head(3)

In [ ]:
# selection using pandas

# selection

df[['Name','Experience']]

In [ ]:
# selection using Spark

df_pyspark.select(['Name','Experience']).show()

Lazy Evaluation means that You can apply as many TRANSFORMATIONs as you want, but Spark will not start the execution of the process until an ACTION is called.

In [ ]:
df_pyspark[['Name']]

In [ ]:
df_ = df_pyspark[['Name']]
df_.show()

Similar to numpy and pandas, pyspark has dtypes

In [ ]:
df_pyspark.dtypes

In [ ]:
df_pyspark.describe().show()

In [ ]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)

In [ ]:
df_pyspark.show()

In [ ]:
### Drop the columns
df_pyspark=df_pyspark.drop('Experience After 2 year')

In [ ]:
df_pyspark.show()

In [ ]:
### Rename the columns
df_pyspark.withColumnRenamed('Name','New Name').show()

#### TODO: Use the agg() function to determine the average salary.

#### TODO: Select the name column

#### TODO: Delete the record with name Paul